main {
  img {
  }
  table {
    position: absolute;
    z-index: 999;
    top: 145px;
    left: 200px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    tr {
      td {
        padding: 4.4px 10px;
      }
    }
  }
}
