<main *ngIf="!type">
    <img *ngIf="teams.length > 10" src="/assets/11_score_board.png" alt="">
    <img *ngIf="teams.length <= 10" src="/assets/10_score_board.png" alt="">

    <h2>{{match.match_name}}</h2>
    <table>
        <tr *ngFor="let i of teams;let j = index">
            <td>
                <p class="team_name">{{i.teamName}}</p>
            </td>
            <td></td>
            <td>{{i.kill}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{placement_marks[j] + i.kill}}</td>
        </tr>
    </table>
</main>
<main *ngIf="type">
    <img *ngIf="teams.length > 10" src="/assets/11_team_name.png" alt="">
    <img *ngIf="teams.length <= 10" src="/assets/10_team_name.png" alt="">
    <h2 class="match_title">{{match.match_name}}</h2>
    <h2 class="match_type">{{match.match_type}}</h2>
    <table class="table_team_name">
        <tr *ngFor="let i of teams;let j = index">
            <td>
                <p class="team_name">{{i.teamName}}</p>
            </td>
        </tr>
    </table>
</main>