<div class="container">
    <img class="f-bg" src="assets/ff_bg.jpg" alt="">

    <h1> You are</h1>
    <h1>Successfully Registered</h1>
    <h1>In Tournament</h1>
    <br>
    <br>
    <br>
    <div class="p-title">
        <img class="first-arrow" src="assets/icons/right_arrow.svg" alt="">
        <p>Best&nbsp;Of&nbsp;Luck</p>
        <img src="assets/icons/right_arrow.svg" alt="">

    </div>
    <p>For Tournament</p>
    <!-- <b>Please submit the registration fee at the college office.</b> -->
    <!-- <button onclick="location.href='index.html'">Go to Home</button> -->
</div>