<main>
    <img class="f-bg" src="assets/ff_bg.jpg" alt="">
    <section>
        <h1>FF Tournament</h1>
        <h1>Registrar your team</h1>
        <div class="inputClass">
            <p for="fname">Team Logo</p>
            <div class="input">
                <img src="assets/icons/upload.svg" alt="">
                <input [disabled]="loadding" (change)="onfileChange($event)" type="file" placeholder="Upload Logo">
            </div>
        </div>
        <div class="inputClass">
            <p for="fname">Team Name</p>
            <div class="input">
                <img src="assets/icons/team.svg" alt="">
                <input [disabled]="loadding" (input)="onInput($event)" [(ngModel)]="teamName" name="teamName"
                    type="text" placeholder="Team Name">
            </div>
        </div>
        <div class="inputClass">
            <p for="fname">Email Address</p>
            <div class="input">
                <img src="assets/icons/email.svg" alt="">
                <input [disabled]="loadding" [disabled]="loadding" (input)="onInput($event)" [(ngModel)]="teamEmail"
                    name="email" type="text" placeholder="ff@gmail.com">
            </div>
        </div>
        <div class="inputClass">
            <p for="fname">Mobile Number</p>
            <div class="input">
                <img src="assets/icons/phone.svg" alt="">
                <input [disabled]="loadding" (input)="onInput($event,'number')" [(ngModel)]="teamPhone" name="phone"
                    type="number" placeholder="0000000000">
            </div>
        </div>
        <div class="inputClass">
            <p for="fname">College Name</p>
            <div class="input">
                <select [disabled]="loadding" (change)="onInput($event)" type="text" [(ngModel)]="teamCollege"
                    name="college" placeholder="My College">
                    <option value="Bhagwan Mahavir University">Bhagwan Mahavir University</option>
                    <option value="Institute of Quality Education">Institute of Quality Education</option>
                    <option value="Kalyan Polytechnic">Kalyan Polytechnic</option>
                    <option value="Noble University">Noble University</option>
                    <option value="RK University">RK University</option>
                    <option value="Shanti Business School (SBS)">Shanti Business School (SBS)</option>
                    <option value="Shri Parekh College">Shri Parekh College</option>
                    <option value="Sigma University">Sigma University</option>
                    <option value="Silver Oak University">Silver Oak University</option>
                    <option value="Skybright Education">Skybright Education</option>
                </select>

            </div>
        </div>
        <div class="inputClass">
            <p for="fname">City Name</p>
            <div class="input">
                <!-- <select name="city" id="city" [disabled]="loadding" (change)="onInput($event)" [(ngModel)]="teamCity">
                    <option value="Rajkot">Rajkot</option>
                    <option value="Ahmedabad">Ahmedabad</option>
                    <option value="Surat">Surat</option>
                    <option value="Jamnagar">Jamnagar</option>
                    <option value="Mahuva">Mahuva</option>
                    <option value="Junagadh">Junagadh</option>
                    <option value="Keshod">Keshod</option>
                    <option value="Vadodara">Vadodara</option>
                </select> -->
                <input [disabled]="loadding" readonly (input)="onInput($event)" type="text" [(ngModel)]="teamCity"
                    name="city" placeholder=".....">
            </div>
        </div>
        <!-- <div class="p-title">
            <img class="first-arrow" src="assets/icons/right_arrow.svg" alt="">
            <p>Players&nbsp;Name</p>
            <img src="assets/icons/right_arrow.svg" alt="">
        </div>

        <div class="players">

            <div class="inputClass" (click)="goToPlayers(1)">
                <div class="input">
                    <img src="assets/icons/player.svg" alt="">
                    <input [disabled]="loadding" type="text" [value]="player1" readonly>
                    <img src="assets/icons/pen.svg" alt="" class="r-icon">
                </div>
            </div>
            <div class="inputClass" (click)="goToPlayers(2)">
                <div class="input">
                    <img src="assets/icons/player.svg" alt="">
                    <input [disabled]="loadding" type="text" [value]="player2" readonly>
                    <img src="assets/icons/pen.svg" alt="" class="r-icon">

                </div>
            </div>
            <div class="inputClass" (click)="goToPlayers(3)">
                <div class="input">
                    <img src="assets/icons/player.svg" alt="">
                    <input [disabled]="loadding" type="text" [value]="player3" readonly>
                    <img src="assets/icons/pen.svg" alt="" class="r-icon">

                </div>
            </div>
            <div class="inputClass" (click)="goToPlayers(4)">
                <div class="input">
                    <img src="assets/icons/player.svg" alt="">
                    <input [disabled]="loadding" type="text" [value]="player4" readonly>
                    <img src="assets/icons/pen.svg" alt="" class="r-icon">
                </div>
            </div>
        </div> -->

        <button [disabled]="loadding" (click)="submit()">
            <p>{{ loadding ? "Registering..." : "Register Team"}}</p>
        </button>



    </section>

</main>

<!-- <h1 *ngIf="!tournamentId">Invalid Tournament</h1> -->